logs/app_logs.log
modules/__pycache__
ga/__pycache__
utils/__pycache__
static/__pycache__
realtime_analytics/__pycache__
.streamlit/secrets.toml
genetic_algorithm_results.xlsx
monotonicity_data.xlsx
statistics.xlsx
.venv/
/logs
venv/
genetic_algorithm_results.xlsx
