deap==1.4.2
numpy==1.26.4
pandas==2.2.1
plotly==5.18.0
psycopg2-binary==2.9.9
scikit-learn==1.4.1.post1
streamlit==1.36.0
streamlit-authenticator==0.2.3
streamlit-option-menu==0.3.12
streamlit-aggrid==1.0.5
openpyxl==3.1.2
python-pptx==0.6.23
reportlab==4.1.0
kaleido==0.2.1
